/* You can add global styles to this file, and also import other style files */
:root {
  --sky-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --ut-orange: #fb8500ff;
  --text-color: #333;
  --error-color: #ff4d4d;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(var(--sky-blue), var(--blue-green), var(--prussian-blue));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
