.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}



.login-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fff;
}


.login-links {
  text-align: center;
  margin-top: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}

